<form action = '/ask/<%=@ask.id %>/update' method = "POST">
    <input type ="hidden" name = "authenticity_token" value = "<%= form_authenticity_token%>">
    <input  class ="form-control" type="text" name = "q" value="<%= @ask.question %>">
    <br/>
    <div class="text-center">
    <input class="btn btn-info" type="submit" value = "수정하기">
    </div>
</form>